<!DOCTYPE html>
<html>
  <head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Handlee|Indie+Flower|Amatic+SC" rel="stylesheet">
<link href="/stylesheets/blog.css" rel="stylesheet" type="text/css">
<title>BLOG</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103113727-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-103113727-4');
</script>
  </head>
  <body>
<div class="ui fixed menu white">
    <div class="ui container headerstyle">
    <div class="header item"><i class="file image outline icon"></i><a href="/">Travel Blog</a></div>
    <a href="/" class="item">Home</a>
    <a href="/blogs/new" class="item">New Blog</a>
</div>
</div>
